@font-face {
    font-family: 'My Font';
    src: url('./fonts/MyFontRegular.eot');
    src: url('./fonts/MyFontRegular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/MyFontRegular.woff2') format('woff2'),
        url('./fonts/MyFontRegular.woff') format('woff'),
        url('./fonts/MyFontRegular.ttf') format('truetype'),
        url('./fonts/MyFontRegular.svg#MyFontRegular') format('svg');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brittany Signature';
    src: url('./fonts/BrittanySignature.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RockoFLF Regular';
    font-style: normal;
    font-weight: normal;
    src: local('RockoFLF Regular'), url('./fonts/RockoFLF.woff') format('woff');
}

@font-face {
    font-family: 'RockoFLF Bold';
    font-style: normal;
    font-weight: normal;
    src: local('RockoFLF Bold'), url('./fonts/RockoFLF-Bold.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "My Font", sans-serif;
    background-color: rgba(249, 249, 249, 1);
    max-width: 100%;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    margin: 0;
    padding-left: 19px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

p {
    margin-bottom: 20px;
}

.get-started {
    width: 147px;
    border: 1px solid gray;
    border-radius: 50px;
    background: transparent;
    color: black;
    font-weight: 100;
    text-transform: unset;
}

.card {
    border-radius: 10px;
}

.collection {
    width: 587px;
    height: 417px;
    background-color: #242424;
    max-height: 417px;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

.collection-section {
    background-color: white;
}

.product-card {
    min-width: 289px;
    width: 100%;
    min-height: 324px;
    height: 100%;
    background-color: #E9E9E9;
    border: none;
    border-radius: 10px;
}

figure {
    margin: 0;
}

.create_and {
    font-family: 'Brittany Signature';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 54px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #242424;
}

.interact {
    font-family: 'Multicolore ';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 54px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-transform: capitalize;

    color: #242424;
}

span {
    font-size: 10px;
    color: black;
}

.form-style input {
    border: 0;
    height: 50px;
    border-radius: 0;
    border-bottom: 1px solid #ebebeb;
    background-color: #ebebeb;
    border-radius: 10px;
}

.signin {
    /* font-family: 'Multicolore '; */
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 34px;
    /* identical to box height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    color: #242424;
}

.social {
    width: 49px;
    height: 49px;
    border: 1px solid rgba(163, 163, 163, 1);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.form-style input:focus {
    /* border-bottom: 1px solid #007bff; */
    box-shadow: none;
    outline: 0;
    background-color: #ebebeb;
}

.sideline {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ccc;
}

button {
    height: 50px;
}

.sideline:before,
.sideline:after {
    content: '';
    border-top: 1px solid #ebebeb;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

.sideline:after {
    margin: 0 0 0 20px;
}

.heading {
    font-family: "My Font";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 0.5rem;
    /* identical to box height */
    align-items: center;
    text-transform: capitalize;
    text-transform: uppercase;
}
